body {
    background-color: rgb(25, 25, 25);
    font-family: Arial;
    color: white;
}
.title {
    font-size: 27px;
    font-weight: bold;
}
    .move {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    padding: 28px;
    background-color: transparent;
    border: 2.5px solid white;
    border-radius: 60px;
    margin-right: 6px;
    }

    .move-icon {
        height: 46px;
    }
        
    .show {
        font-size: 25px;
        font-weight: bold;
        width: 150px;
        text-align: center;
        border: 1px dotted white;
        
    }

    .score {
        margin-top: 50px;
    }

    .reset-button,
    .auto-play {
                border: none;
                padding: 9px 15px;
                font-size: 16px;
                background-color: rgb(180, 183, 185);
                cursor: pointer;
            }

    .reset-dialog {
        border: none;
        background-color: black;
        width: 420px;
        margin-top: 10px;
        padding: 10px;
        border: 1px solid white;
        border-radius: 4px;
    }
    .dialog-yes-button,
    .dialog-no-button {
        font-size: 20px;
        margin-left: 10px;
        cursor: pointer;
    }

    .remove {
        display: none;
    }